section.cta#section-5
    .b-container
        .row.justify-content-center.align-items-center.align-content-center
            .col-xl-10.col-md-10.col-12
                .cta_info
                    h2.h-title Take the first step.
                    p.p-text_big.
                        Let’s talk about how we can help your organization.

                .cta_btns.d-flex.flex-wrap.justify-content-around
                    .cta_btn
                        a(href='./work-together.html').btn_yellow
                            span Get in touch
