section.ow_slider-wrap.fresh-start(id='section-2')
    .b-container(id='fresh-start')
        .row.justify-content-center
            .col-12
                .ow_main-title-wrap
                    .ow_main-ico
                        .c1.cc
                            svg.svg_item(fill='none',
                            xmlns='http://www.w3.org/2000/svg')
                                g(stroke='#092290', stroke-width='2')
                                    path.pf-1(d='m18 59.5c0 4.6944-3.8056 8.5-8.5 8.5-4.69442 0-8.5-3.8056-8.5-8.5s3.80558-8.5 8.5-8.5c4.6944 0 8.5 3.8056 8.5 8.5z')
                    .ow_main-title
                        h4.h4-title A fresh start: Introducing yourself.
            .col-12
                .row.justify-content-center
                    .col-md-10.col-12
                        .ow_slider.mn_slider.fs_slider
                            +owList(
                                "Client",
                                "An automated trucking technology startup.",
                                "Opportunity",
                                "How to enter a noisy and misunderstood industry with sophistication and a new, potentially controversial, point of view.",
                                "Solution",
                                "We started by taking a step back to discuss the team’s deeply held beliefs about how automated technology could and should be delivered, then translated that into a long-term communications strategy that considers the human impact of automation technology and lays groundwork for a product many years away.",
                                "Impact",
                                "By helping to ground the company’s strategy and vision for the future in its core values, our client is now authentically delivering on its promises to prioritize safety and thoughtfully innovate with the intent of empowering drivers rather than replacing them."
                            )
                            +owList(
                                "Client",
                                "An artificial intelligence company focused on health care.",
                                "Opportunity",
                                "How to educate technology investors about the opportunity of enabling doctors to make faster, more accurate decisions when diagnosing stroke and brain trauma.",
                                "Solution",
                                "We led the client’s team of health care industry veterans through a focused project to translate their nuanced, technical, and specialized solution into a compelling story that captured the opportunity ahead and would resonate with technology investors.",
                                "Impact",
                                "Through the process of developing a clear, differentiated identity, rooted in the business and product strategy, we got the entire executive team singing from the same book about their vision, mission, definition, and category, directly impacting their ability to raise their next funding round."
                            )
                            +owList(
                                "Client",
                                "A start-up whose software application blends the flexibility of documents with the power of spreadsheets.",
                                "Opportunity",
                                "A long-awaited emergence from stealth mode — a critical inflection point that only happens once.",
                                "Solution",
                                "We developed a thoughtful narrative and strategy to guide the company’s entry into the world and their transition from stealth through beta to general release over the course of a year and a half.",
                                "Impact",
                                "We constructed and articulated a compelling brand identity and POV about the potential of the “Maker Generation.” We then brought it to life externally with a strategy that built community momentum and earned credibility behind their vision. Our strategy and execution resulted in one of the top Product Hunt reveals of all time, a Fast Company feature story, and a Harvard Business Review OpEd, among others."
                            )
                .slider_nav
                    .ow-prev.slider_nav-prev.fs_slider-prev
                        img(src='images/s-arrow.svg' alt='')
                    .ow-next.slider_nav-next.fs_slider-next
                        img(src='images/s-arrow-n.svg' alt='')
