section.main-cover.main-cover_sub-page#section-1
    .b-container
        .m-row.row.justify-content-center.align-content-start
            .col-lg-11.col-md-10.col-11
                h1.h1-title.text-c What we do.
            .col-md-9.col-11
                p.text-c.
                    Pramana specializes in inflection points. Whether you are launching a new product, entering a new market, or reinventing core aspects of your business, Pramana is a true partner in aligning all your organizational efforts toward a shared goal and a winning strategy.
                br
                p.text-c.
                    While each project is unique, we always begin by taking the pulse of your organization and ensuring that your team is in-sync. We surface the hallway whispers, examine the business and product strategy, and measure external perception of the brand to define actionable shared objectives that will guide you team.
                br
                p.text-c.
                    From there, we define and refine your organizational identity, positioning and messaging, visual design, and then develop creative and integrated executive leadership, brand, and communications strategies to externalize what we’ve built, connect with your target audiences, and set you up for sustained success.
