section.ow_slider-wrap.new-direction#section-4
    .b-container
        .row.justify-content-center
            .col-12
                .ow_main-title-wrap
                    .ow_main-ico
                        .c3.cc
                            svg.svg_item(fill='none', xmlns='http://www.w3.org/2000/svg')
                                g(stroke='#092290', stroke-width='2')
                                    path.pf-1(d='m18 59.5c0 4.6944-3.8056 8.5-8.5 8.5-4.69442 0-8.5-3.8056-8.5-8.5s3.80558-8.5 8.5-8.5c4.6944 0 8.5 3.8056 8.5 8.5z', fill='#092290')
                                    path.pf-2(d='m68 9.5c0 4.6944-3.8056 8.5-8.5 8.5s-8.5-3.8056-8.5-8.5c0-4.69442 3.8056-8.5 8.5-8.5s8.5 3.80558 8.5 8.5z', fill='#092290')
                                    path.pf-3(d='m118 59.5c0 4.6944-3.806 8.5-8.5 8.5s-8.5-3.8056-8.5-8.5 3.806-8.5 8.5-8.5 8.5 3.8056 8.5 8.5z')
                    .ow_main-title
                        h4.h4-title A New Direction: Reinventing Yourself.
            .col-12
                .row.justify-content-center
                    .col-md-10.col-12
                        .ow_slider.mn_slider.nd_slider
                            +owList(
                                "Client",
                                "A Gen Z media platform",
                                "Opportunity",
                                "Leadership needed to make critical decisions about the future of the business and bring focus in the face of a diluted message.",
                                "Solution",
                                "We ran a project with rigorous stakeholder engagement to help leadership uncover insights and understand areas of alignment and misalignment within the organization. The objective was to evaluate the opportunity at hand and make an informed strategic decision.",
                                "Impact",
                                "We brought focus and rallied the company around a specific strategy that doubled down on Generation Z, developing new messaging that connected with both talent and advertisers."
                            )
                            +owList(
                                "Client",
                                "The first personalized music streaming service, and now the world’s largest audio entertainment company.",
                                "Opportunity",
                                "Mounting competition, struggling stock performance, and new leadership team catalyzed the need for the company to position itself for a comeback and regain brand relevance.",
                                "Solution",
                                "We stepped in to fill a vacant leadership role and run their communications department, counselling and managing the team, while driving immediate results. Our work included aligning the executive leadership around a new purpose and defined values, crafting a new brand identity, delivering a robust integrated marketing plan, and building their internal communications team to regain and maintain the momentum.",
                                "Impact",
                                "During the first six months of our engagement, the company’s stock price doubled and we secured various tier one business press hits for the company, including broadcast opportunities. The company regained recognition as adominant player in the world of personalized discovery for music, podcasts, storytelling, and culture, eventually leading to a successful acquisition."
                            )
                .slider_nav
                    .ow-prev.slider_nav-prev.nd_slider-prev
                        img(src='images/s-arrow.svg' alt='')
                    .ow-next.slider_nav-next.nd_slider-next
                        img(src='images/s-arrow-n.svg' alt='')
