section.ow_slider-wrap.next-chapter#section-3
    .b-container
        .row.justify-content-center
            .col-12
                .ow_main-title-wrap
                    .ow_main-ico
                        .c2.cc
                            svg.svg_item(fill='none', xmlns='http://www.w3.org/2000/svg')
                                g(stroke='#092290', stroke-width='2')
                                    path.pf-1(d='m18 59.5c0 4.6944-3.8056 8.5-8.5 8.5-4.69442 0-8.5-3.8056-8.5-8.5s3.80558-8.5 8.5-8.5c4.6944 0 8.5 3.8056 8.5 8.5z', fill='#092290')
                                    path.pf-2(d='m68 9.5c0 4.6944-3.8056 8.5-8.5 8.5s-8.5-3.8056-8.5-8.5c0-4.69442 3.8056-8.5 8.5-8.5s8.5 3.80558 8.5 8.5z', fill='#092290')

                    .ow_main-title
                        h4.h4-title The Next Chapter: Securing Yourself.
            .col-12
                .row.justify-content-center
                    .col-md-10.col-12
                        .ow_slider.mn_slider.nc_slider
                            +owList(
                                "Client",
                                "A healthcare startup that provides immediate access to urgent care.",
                                "Opportunity",
                                'A Series B announcement that necessitated mature positioning beyond the standard “Uber for X”.',
                                "Solution",
                                "We worked with the client to create a highly focused positioning statement that clearly articulated why they were poised to define a new level of access to health care.",
                                "Impact",
                                "Our work refocused the company around their unique position as a proven player delivering results in the modern healthcare system. Aligning around this provocative position helped the leadership team stand out from the competition and gain meaningful coverage for their Series B announcement."
                            )
                            +owList(
                                "Client",
                                "A beloved children's education program brought to you by the letter “S”",
                                "Opportunity",
                                "The client’s 50th anniversary offered the chance to not only celebrate its storied history, but also to demonstrate why the brand and its values are needed today more than ever.",
                                "Solution",
                                "Building from core organizational needs and values, we developed a year-long anniversary campaign to inspire people of all ages to live by the timeless lessons the show’s characters have always taught: that everyone, no matter who they are or where they are from, is equally deserving of respect, opportunity, and joy.",
                                "Impact",
                                "We aligned the work of many disparate teams toward a unified purpose that rallied the internal stakeholders and connected the broader audience. This ultimately delivered against their business and nonprofit goals of reaching new audiences, securing sponsorships and partnerships, and landing key media coverage."
                            )
                            +owList(
                                "Client",
                                "A navigation platform designed to make traffic jams history.",
                                "Opportunity",
                                "A new product launch offered the chance for one of the original leaders in getting people from point A to point B to claim its leadership role in the transportation industry.",
                                "Solution",
                                "We developed a new brand identity and narrative that aligned all product, marketing, and communications efforts behind the core message of “delivering the future of transportation today.”",
                                "Impact",
                                "Our work impacted how the organization’s story was told company-wide. The narrative was used to successfully launch the new consumer product while deepening relationships with community partners and effectively their vision with the media. We even helped land a partnership with a prominent consumer brand."
                            )
                            +owList(
                                "Client",
                                "A Silicon Valley darling and popular collaboration hub.",
                                "Opportunity",
                                "Using the client’s broad consumer appeal to expand beyond a core messaging function and move upmarket into enterprise software for teams at work.",
                                "Solution",
                                "We helped our client develop a simplified identity rooted in their core DNA, and evolving to deliver a narrative that would resonate with CIOs at leading organizations across industries. We articulated their unique perspective on digital transformation and the future of work in the face of massive competition, and put their CEO in front of unexpected new audiences to expand the reach of their story.",
                                "Impact",
                                "Our work helped to guide a fast-moving team through incredible growth, and ultimately to their highly lauded IPO, in which they were universally recognized as a leader of the future of work."
                            )
                .slider_nav
                    .ow-prev.slider_nav-prev.nc_slider-prev
                        img(src='images/s-arrow.svg' alt='')
                    .ow-next.slider_nav-next.nc_slider-next
                        img(src='images/s-arrow-n.svg' alt='')
