section.idea-block#section-2
    .container
        .row.align-items-center.justify-content-center
            .col-lg-7.col-md-10.order-2.col-11
                h2.h-title.fade-up Start on the inside.
                p.p-text_big.fade-up
                    | Organizations are complex. We’ve experienced firsthand how people and teams become siloed—and how hard it can be to pull out of the day-to-day to think and plan.
                    br
                    br
                    | We take an inside out approach to help teams gain a fresh perspective. The Pramana Methodology collaboratively and systematically breaks down communications barriers, identifies organizational misalignments, and helps you realign.

            .col-lg-4.order-lg-2.col-md-10.order-1.col-12
                .idea-block_img.img_auto
                    img(src='images/methodology/diamond.jpg' srcset='images/methodology/diamond@2x.jpg 2x' alt='image')
