section.idea-block#section-2
    .container
        .row.align-items-center.justify-content-center
            .col-lg-7.col-md-10.order-2.col-11
                h2.h-title Start on the inside.
                p.p-text_big
                    | Organizations are complex. We’ve experienced firsthand how people and teams become siloed—and how hard it can be to pull out of the day-to-day to think and plan.
                    br
                    br
                    | We take an inside out approach to help teams gain a fresh perspective. The Pramana Methodology collaboratively and systematically breaks down communications barriers, identifies organizational misalignments, and helps you realign.

            .col-lg-4.order-lg-2.col-md-10.order-1.col-12
                .idea-block_img.img_auto
                    svg.idea-svg(viewBox='0 0 642.89 718.4')
                        polygon.cls-1(points='383.98 142.23 159.46 174.65 199.14 220.5 478.8 191.05 383.98 142.23')
                        polygon.cls-yellow.fade-up(points='383.98 142.23 159.46 174.65 199.14 220.5 478.8 191.05 383.98 142.23')
                        polyline.cls-2(points='165.4 173.79 159.46 174.65 164.79 177.41')
                        polyline.cls-3(points='175.33 182.86 248.01 220.5 466.96 192.56')
                        polyline.cls-2(points='472.85 191.81 478.8 191.05 473.47 188.31')
                        polyline.cls-4(points='462.88 182.86 383.98 142.23 171.29 172.94')
                        polyline.cls-2(points='92.97 388.57 91.19 394.3 95.2 389.85')
                        line.cls-5(x1='103.04', y1='381.17', x2='240.07', y2='229.29')
                        polyline.cls-2(points='243.99 224.95 248.01 220.5 242.68 217.74')
                        line.cls-6(x1='231.55', y1='211.98', x2='170.35', y2='180.29')
                        polyline.cls-2(points='164.79 177.41 159.46 174.65 157.68 180.38')
                        line.cls-7(x1='154.28', y1='191.33', x2='94.67', y2='383.09')
                        line.cls-2(x1='1.35', y1='347.78', x2='7.3', y2='347.03')
                        polyline.cls-8(points='19.09 345.55 453.55 290.86 630.98 377.33')
                        line.cls-2(x1='636.31', y1='379.94', x2='641.71', y2='382.56')
                        polyline.cls-2(points='237.51 312.46 240.47 317.68 244.27 313.04')
                        line.cls-9(x1='252.26', y1='303.26', x2='376.19', y2='151.76')
                        polyline.cls-2(points='380.18 146.88 383.98 142.23 378.05 143.09')
                        line.cls-10(x1='365.54', y1='144.9', x2='171.66', y2='172.89')
                        polyline.cls-2(points='165.4 173.79 159.46 174.65 162.42 179.87')
                        line.cls-11(x1='168.2', y1='190.07', x2='234.62', y2='307.36')
                        polyline.cls-2(points='327.49 361.28 321.53 361.95 323.17 356.18')
                        line.cls-12(x1='326.28', y1='345.22', x2='380.79', y2='153.48')
                        polyline.cls-2(points='382.34 148 383.98 142.23 386.53 147.67')
                        polyline.cls-13(points='391.68 158.67 453.55 290.86 391.09 494')
                        polyline.cls-2(points='389.3 499.81 387.54 505.55 391.67 501.19')
                        line.cls-14(x1='399.66', y1='492.77', x2='539.51', y2='345.28')
                        polyline.cls-2(points='543.5 341.07 547.63 336.71 541.67 337.38')
                        line.cls-15(x1='529.07', y1='338.78', x2='333.79', y2='360.58')
                        polyline.cls-2(points='95.07 398.87 91.19 394.3 93.84 399.68')
                        polyline.cls-16(points='98.94 410.02 159.46 532.77 237.56 573.21')
                        polyline.cls-2(points='242.68 575.86 248.01 578.62 244.12 574.05')
                        line.cls-17(x1='236.27', y1='564.83', x2='99', y2='403.48')
                        polygon.cls-18(points='91.19 394.3 159.46 532.77 248.01 578.62 91.19 394.3')
                        polygon.cls-yellow.fade-up(points='91.19 394.3 159.46 532.77 248.01 578.62 91.19 394.3')
                        polyline.cls-2(points='95.07 398.87 91.19 394.3 93.84 399.68')
                        polyline.cls-16(points='98.94 410.02 159.46 532.77 237.56 573.21')
                        polyline.cls-2(points='242.68 575.86 248.01 578.62 244.12 574.05')
                        line.cls-17(x1='236.27', y1='564.83', x2='99', y2='403.48')
                        polyline.cls-2(points='473.68 550.85 479.64 550.16 474.24 547.55')
                        polyline.cls-19(points='463.57 542.38 387.54 505.55 171.31 531.36')
                        polyline.cls-2(points='165.42 532.06 159.46 532.77 164.79 535.53')
                        polyline.cls-20(points='175.35 541 248.01 578.62 365.82 563.27 467.77 551.53')
                        polygon.cls-21(points='383.98 142.23 547.63 336.71 478.8 191.05 383.98 142.23')
                        line.cls-21(x1='479.64', y1='550.16', x2='547.63', y2='336.71')
                        line.cls-2(x1='414.19', y1='418.88', x2='410.32', y2='414.3')
                        line.cls-22(x1='403.46', y1='406.18', x2='352.05', y2='345.35')
                        polyline.cls-2(points='348.63 341.29 344.75 336.71 340.69 341.13')
                        line.cls-23(x1='335.66', y1='346.6', x2='328.11', y2='354.8')
                        polyline.cls-2(points='325.59 357.53 321.53 361.95 316.26 359.07')
                        line.cls-24(x1='306.19', y1='353.57', x2='250.77', y2='323.31')
                        polyline.cls-2(points='245.73 320.56 240.47 317.68 244.17 322.4')
                        line.cls-25(x1='251.52', y1='331.8', x2='380.17', y2='496.13')
                        polyline.cls-2(points='383.84 500.82 387.54 505.55 385.04 500.1')
                        line.cls-26(x1='380.34', y1='489.89', x2='326.38', y2='372.5')
                        polyline.cls-2(points='324.04 367.4 321.53 361.95 315.59 362.78')
                        line.cls-27(x1='304.09', y1='364.4', x2='102.88', y2='392.66')
                        line.cls-2(x1='97.13', y1='393.47', x2='91.19', y2='394.3')
                        line.cls-21(x1='317.58', y1='717.76', x2='387.54', y2='505.55')
                        polygon.cls-1(points='248.01 578.62 321.53 361.95 414.19 418.88 479.64 550.16 248.01 578.62')
                        polygon.cls-yellow.fade-up(points='248.01 578.62 321.53 361.95 414.19 418.88 479.64 550.16 ' +
                        '248.01 578.62')
                        polygon.cls-2(points='317.76 1.51 178.62 439.49 641.89 382.56 317.76 1.51')
                        polygon.cls-2(points='1.53 347.78 317.76 1.51 178.62 439.49 1.53 347.78')
                        path.cls-2(d='M345.06,752.33,29.51,383.14,206.6,474.85,345.27,752.19A.13.13,0,0,1,345.06,752.33Z', transform='translate(-27.98 -35.36)')
                        polygon.cls-2(points='641.89 382.56 317.76 717.76 178.62 439.49 641.89 382.56')
