section.main-cover.main-cover_sub-page#section-1
    .b-container
        .m-row.row.justify-content-center
            .col-lg-11.col-md-10.col-11
                h1.h1-title.text-c Move with clarity.
            .col-md-9.col-11
                p.text-c.
                    Having a clear sense of identity and direction is how top companies execute more effectively and efficiently. These leaders know that an aligned brand and culture is an incomparable engine of performance.

            .col-lg-10.col-md-10.col-12
                .comparing_items
                    .fade-up.comparing_img
                        img(src='images/methodology/Horse1.jpg' srcset='images/methodology/Horse1@2x.jpg 2x')
                    .fade-up.comparing_img
                        img(src='images/methodology/Horse2.jpg' srcset='images/methodology/Horse2@2x.jpg 2x')
                    .fade-up.comparing_img
                        img(src='images/methodology/Horse3.jpg' srcset='images/methodology/Horse3@2x.jpg 2x')


