.idea-block
  padding: 70px 0
  &, .b-container .row
    @extend .screen-height
  @media(max-width: 820px)
    padding: 26px 0 70px
  .h-title
    margin-bottom: 46px
    @media(max-width: 820px)
      text-align: center
      margin-bottom: 24px
  .p-text, .p-text_big
    @media(max-width: 820px)
      text-align: center

  .p-text_m-block
    padding-right: 12%
    @media(max-width: 1024px)
      padding: 0

  &_img
    img
      width: 100%
      height: auto
    @media(max-width: 990px)
      margin-bottom: 30px

    @media(max-width: 820px)
      height: 300px
      text-align: center
      img
          width: auto
          height: 100%
  &_subpage
    .idea-block_img
      @media(max-width: 990px)
        margin-bottom: 0
        margin-top: 30px

.idea-svg
  max-height: 100%
  .cls-1, .cls-18
    fill: none
  .cls-yellow
    fill: #fbed24
  .cls-1, .cls-10, .cls-11, .cls-12, .cls-13, .cls-14, .cls-15, .cls-16, .cls-17, .cls-19, .cls-2, .cls-20, .cls-21, .cls-22, .cls-23, .cls-24, .cls-25, .cls-26, .cls-27, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9
    stroke: #030303
    stroke-miterlimit: 10
    stroke-width: 0.75px
  .cls-1, .cls-21
    stroke-dasharray: 12
  .cls-10, .cls-11, .cls-12, .cls-13, .cls-14, .cls-15, .cls-16, .cls-17, .cls-19, .cls-2, .cls-20, .cls-21, .cls-22, .cls-23, .cls-24, .cls-25, .cls-26, .cls-27, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9
    fill: none
  .cls-3
    stroke-dasharray: 11.87
  .cls-4
    stroke-dasharray: 11.91
  .cls-5
    stroke-dasharray: 11.69
  .cls-6
    stroke-dasharray: 12.53
  .cls-7
    stroke-dasharray: 11.47
  .cls-8
    stroke-dasharray: 11.87
  .cls-9
    stroke-dasharray: 12.63
  .cls-10
    stroke-dasharray: 12.64
  .cls-11
    stroke-dasharray: 11.72
  .cls-12
    stroke-dasharray: 11.39
  .cls-13
    stroke-dasharray: 12.15
  .cls-14
    stroke-dasharray: 11.61
  .cls-15
    stroke-dasharray: 12.68
  .cls-16
    stroke-dasharray: 11.53
  .cls-17
    stroke-dasharray: 12.11
  .cls-19
    stroke-dasharray: 11.85
  .cls-20
    stroke-dasharray: 11.89
  .cls-22
    stroke-dasharray: 10.62
  .cls-23
    stroke-dasharray: 7.43
  .cls-24
    stroke-dasharray: 11.48
  .cls-25
    stroke-dasharray: 11.93
  .cls-26
    stroke-dasharray: 11.23
  .cls-27
    stroke-dasharray: 11.61

