.solutions
  padding: 123px 0 152px
  &, .container .row
    @extend .screen-height
  @media(max-width: 992px)
    padding: 15px 0 0

.solution
  &_items
    display: flex
    flex-wrap: wrap
  &_item
    display: block
    padding-right: 56px
    @media(max-width: 992px)
      padding-right: 16px
    @media(max-width: 820px)
      padding-right: 0

  &_icon
    position: relative
    height: 69px
    margin-bottom: 76px
    &.active
      span
        background: #092290

    @media(max-width: 820px)
      text-align: center
      margin-bottom: 50px

  &_title
    transition: color 300ms ease-out

  &_text
    margin-bottom: 25px

  &_info
    display: block
    text-decoration: none
    color: $main
    transition: color 300ms ease-out
    @media(max-width: 992px)
      padding: 0 0 90px
    @media(max-width: 820px)
      text-align: center
    &:hover
      &, .solution_title
        color: $blue

.cc
  position: relative
  width: 100%
  max-width: 119px
  height: 100%
  @media(max-width: 820px)
    display: inline-block
  svg
    width: 100%
    max-width: 119px
    height: 74px
    opacity: 1

.c1
  @media(max-width: 820px)
    width: 19px
  svg.svg_anim
    path.pf-1
      animation: dash2 1s cubic-bezier(0.35, 0.04, 0.63, 0.95) 1
      animation-fill-mode: forwards
      animation-direction: alternate

.c2
  @media(max-width: 820px)
    width: 69px
  svg.svg_anim
    path.pf-1
      fill: rgba(#092290, 0)
      animation: dash 1s cubic-bezier(0.35, 0.04, 0.63, 0.95) 1
      animation-fill-mode: forwards
      animation-direction: alternate

    path.pf-2
      fill: rgba(#092290, 0)
      animation: dash 1s 0.3s cubic-bezier(0.35, 0.04, 0.63, 0.95) 1
      animation-fill-mode: forwards
      animation-direction: alternate

.c3
  @media(max-width: 820px)
    width: 119px
  svg.svg_anim
    path.pf-1
      fill: rgba(#092290, 0)
      animation: dash 1s cubic-bezier(0.35, 0.04, 0.63, 0.95) 1
      animation-fill-mode: forwards
      animation-direction: alternate

    path.pf-2
      fill: rgba(#092290, 0)
      animation: dash 1s 0.3s cubic-bezier(0.35, 0.04, 0.63, 0.95) 1
      animation-fill-mode: forwards
      animation-direction: alternate

    path.pf-3
      animation: dash2 1s 0.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) 1
      animation-fill-mode: forwards
      animation-direction: alternate
