section.calendar-section#section-2
    .b-container
        .row.justify-content-center
            .col-lg-8.col-mb-11.col-12
                .cs_title
                    h2.h-title.text-c
                        | Send us an
                        |
                        a(href='#') email
                        |
                        | or schedule a quick 20-min discovery call.
            .col-lg-9.col-md-11.col-12
                .calendly_wrap
                    .calendly-inline-widget(data-url='https://calendly.com/pramana/30min', style='min-width:320px;height:630px;')

