section.main-cover.main-cover_sub-page.main-cover_sub-page-small#section-1
    .b-container
        .m-row.row.justify-content-center.align-items-end.align-content-start
            .col-lg-11.col-md-10.col-11
                .main-cover_title-img.mc_title-img
                    svg.svg_item(width='84', height='38', viewBox='0 0 84 38', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path.mc-1(fill-rule='evenodd', clip-rule='evenodd', d='M36.5548 19L20.1053 35.3483L20.1053 2' +
'.65169L36.5548 19Z', fill='#092290', stroke='#092290', stroke-width='2')
                        path.mc-2(fill-rule='evenodd', clip-rule='evenodd', d='M47.4452 19L63.8947 2.65169L63.8947 35' +
'.3483L47.4452 19Z', stroke='#092290', stroke-width='2')

                h1.h1-title.h1-title_clean.text-c Let’s talk.

            .col-md-10.col-11
                p.text-c.
                    Since our founding in 2013, we've worked with companies of all types -- from consumer technology
                     to enterprise, healthcare to media, Fortune 50s to startups. 
                br
                p.text-c.
                    Each one shared a similar need: in order to meet their current opportunity, they had to find
                                        their way through a tangle of complexities. If this sounds like you, we can’t wait to talk.


