section.main-cover.main-cover_sub-page.main-cover_sub-page-small#section-1
    .b-container
        .m-row.row.justify-content-center.align-items-end.align-content-end
            .col-lg-11.col-md-10.col-11
                .main-cover_title-img
                    img(src='images/wt/cover-icon.svg' alt='')
                h1.h1-title.h1-title_clean.text-c Let’s talk.

            .col-md-9.col-11
                p.p-text_med.text-c.
                    Since our founding in 2013, we've worked with companies of all types -- from consumer technology
                     to enterprise, healthcare to media, Fortune 50s to startups. 
                br
                p.p-text_med.text-c.
                    Each one shared a similar need: in order to meet their current opportunity, they had to find
                                        their way through a tangle of complexities. If this sounds like you, we can’t wait to talk.


