section.main-cover.main-cover_sub-page#section-1
    .b-container
        .m-row.row.justify-content-center.align-items-end.align-content-end
            .col-lg-11.col-md-10.col-11
                h1.h1-title.text-c Our Team.
            .col-md-9.col-11
                p.p-text_med.text-c.
                    Diverse business goals demand diverse perspectives.
                br
                p.p-text_med.text-c.
                    At Pramana Collective, we believe that the most successful and original strategies are crafted at the intersection of traditional branding, communications, marketing, and media disciplines. That’s why we’ve built a team of industry leaders with experiences at high-profile startups, global brands, political campaigns, international nonprofits, media publications, and design agencies.
                br
                p.p-text_med.text-c.
                    Our team brings expertise in
                    #[strong strategic1 communications, branding, and integrated marketing fields]
                     with extensive experience in the complementary disciplines of user research, data analytics, business strategy, diversity and inclusion, creative execution, and other areas.
                br
                p.p-text_med.text-c.
                    We are located in San Francisco, New York, and Washington, D.C.
