.slider-dots
    .b-container-fluid
        .row
            .col-1
                .sl-e
                    ul
                        li
                            a(href="#section-1" id="anchor1") 01
                        li
                            a(href="#section-2" id="anchor2") 02
                        li
                            a(href="#section-3" id="anchor3") 03
