section.about-us#section-2
    .b-container.bg-arrows_wrap
        .bg-arrows
            .bg-arrow_top
                svg(height='114', viewBox='0 0 145 114', width='145', xmlns='http://www.w3.org/2000/svg')
                    g(fill='none', fill-rule='evenodd')
                        g(fill='#092290', transform='matrix(0 1 -1 0 8.5 19)')
                            circle.fade-svg1(cx='93', cy='2', opacity='.1', r='2')
                            circle.fade-svg1(cx='80', cy='2', opacity='.2', r='2')
                            circle.fade-svg1(cx='67', cy='2', opacity='.3', r='2')
                            circle.fade-svg1(cx='54', cy='2', opacity='.4', r='2')
                            circle.fade-svg1(cx='41', cy='2', opacity='.5', r='2')
                            circle.fade-svg1(cx='28', cy='2', opacity='.6', r='2')
                            circle.fade-svg1(cx='15', cy='2', opacity='.7', r='2')
                            circle.fade-svg1(cx='2', cy='2', opacity='.8', r='2')

                        g(transform='matrix(-1 0 0 1 126.5 3)')
                            circle.fade-svg1(cx='120', cy='6', fill='#fef300', r='6')
                            g(fill='#092290')
                                circle.fade-svg1(cx='107', cy='5.791', opacity='.9', r='2')
                                circle.fade-svg1(cx='94', cy='5.791', opacity='.8', r='2')
                                circle.fade-svg1(cx='81', cy='5.791', opacity='.7', r='2')
                                circle.fade-svg1(cx='68', cy='5.791', opacity='.6', r='2')
                                circle.fade-svg1(cx='55', cy='5.791', opacity='.5', r='2')
                                circle.fade-svg1(cx='42', cy='5.791', opacity='.4', r='2')
                                circle.fade-svg1(cx='29', cy='5.791', opacity='.3', r='2')
                                circle.fade-svg1(cx='16', cy='5.791', opacity='.2', r='2')
                                circle.fade-svg1(cx='2.5', cy='6.291', opacity='.1', r='2.5')

                        path.fade-svg1(d='m134.965 17.95 8.506-8.465-8.506-8.465', stroke='#092290',
                        stroke-linecap='round', stroke-linejoin='round', stroke-width='1.5')

            .bg-arrow_bottom
                svg(height='114', viewBox='0 0 145 114', width='145', xmlns='http://www.w3.org/2000/svg')
                    g(fill='none', fill-rule='evenodd')
                        g(fill='#092290', transform='matrix(0 1 -1 0 8.5 19)')
                            circle.fade-svg2(cx='93', cy='2', opacity='.1', r='2')
                            circle.fade-svg2(cx='80', cy='2', opacity='.2', r='2')
                            circle.fade-svg2(cx='67', cy='2', opacity='.3', r='2')
                            circle.fade-svg2(cx='54', cy='2', opacity='.4', r='2')
                            circle.fade-svg2(cx='41', cy='2', opacity='.5', r='2')
                            circle.fade-svg2(cx='28', cy='2', opacity='.6', r='2')
                            circle.fade-svg2(cx='15', cy='2', opacity='.7', r='2')
                            circle.fade-svg2(cx='2', cy='2', opacity='.8', r='2')

                        g(transform='matrix(-1 0 0 1 126.5 3)')
                            circle.fade-svg2(cx='120', cy='6', fill='#fef300', r='6')
                            g(fill='#092290')
                                circle.fade-svg2(cx='107', cy='5.791', opacity='.9', r='2')
                                circle.fade-svg2(cx='94', cy='5.791', opacity='.8', r='2')
                                circle.fade-svg2(cx='81', cy='5.791', opacity='.7', r='2')
                                circle.fade-svg2(cx='68', cy='5.791', opacity='.6', r='2')
                                circle.fade-svg2(cx='55', cy='5.791', opacity='.5', r='2')
                                circle.fade-svg2(cx='42', cy='5.791', opacity='.4', r='2')
                                circle.fade-svg2(cx='29', cy='5.791', opacity='.3', r='2')
                                circle.fade-svg2(cx='16', cy='5.791', opacity='.2', r='2')
                                circle.fade-svg2(cx='2.5', cy='6.291', opacity='.1', r='2.5')

                        path.fade-svg2(d='m134.965 17.95 8.506-8.465-8.506-8.465', stroke='#092290',
                        stroke-linecap='round', stroke-linejoin='round', stroke-width='1.5')

        .row.justify-content-center.align-items-center
            .col-xl-10.col-md-10.col-11
                .about-us_info
                    h2.h-title.fade-up Find your truth. Chart your course.
                    p.p-text_big.fade-up.
                        Organizations work with Pramana to turn inflection points into opportunities. Our methodology transforms your mission, vision, and values into a differentiated identity that will make a lasting mark on the world.
