section.compare#section-5
    .b-container
        .row.justify-content-center.align-items-center.align-content-center
            .col-xl-12
                .comparing_items.comparing_items-bg
                    .fade-up.comparing_img
                        img(src='images/cat-1.jpg' srcset='images/cat-1@2x.jpg 2x')
                    .fade-up.comparing_img
                        img(src='images/cat-2.jpg' srcset='images/cat-2@2x.jpg 2x')
                    .fade-up.comparing_img
                        img(src='images/cat-3.jpg' srcset='images/cat-3@2x.jpg 2x')
                    .fade-up.comparing_img
                        img(src='images/cat-4.jpg' srcset='images/cat-4@2x.jpg 2x')

            .col-xl-9.col-md-10.col-11
                .compare_info
                    h2.h-title We work inside out.
                    p.p-text_big.
                        Experience (and empathy) underpins our proven methodology to lead you from chaos to order. Our job is to listen and maintain focus on the beliefs, ideas, and aspirations of those doing the work inside the company every day. We connect the dots to translate your team’s whispered insights into your new tagline.
                    a(href='#').btn_yellow
                        span How we think

