section.cta#section-7
    .b-container
        .row.justify-content-center.align-items-center.align-content-center
            .col-xl-10.col-md-10.col-12
                .cta_info
                    h2.h-title.fade-up Take the first step.
                    p.p-text_big.fade-up.
                        Strategy drives business goals for companies at all stages.
                    p.p-text_big.fade-up  Check out our work.

                .cta_btns.d-flex.flex-wrap.justify-content-lg-between.justify-content-around
                    .cta_btn
                        a(href='#').btn_yellow
                            span Explore our work
                    .cta_btn
                        a(href='#').btn_yellow
                            span How we think
                    .cta_btn
                        a(href='#').btn_yellow
                            span Get in touch
