section.idea-block#section-4
    .container
        .row.align-items-center.justify-content-lg-start.justify-content-center
            .col-lg-5.offset-lg-1.order-lg-1.col-md-10.order-2.col-11
                h2.h-title.fade-up
                    | Here&#8217;s an idea:
                    br
                    | Be yourself.
                p.p-text.fade-up
                    | Your unique truth is who you are and what you do. And it's yours alone.
                    br
                    br
                    | Fast-moving organizations of all shapes, sizes, and stages need to maintain constant focus to
                    | make sure that movement is heading in the right direction. This is where Pramana comes in. We
                    | find your core truths across business strategy, brand, and internal culture, and connect them
                    | to drive alignment on actionable, sustainable strategies.

            .col-lg-5.offset-xl-1.order-lg-2.col-md-10.order-1.col-12
                .idea-block_img.fade-up
                    img(src='images/woman.jpg' srcset='images/woman@2x.jpg 2x' alt='image woman')
