section.main-cover#section-1
    .b-container-fluid
        .m-row.row.justify-content-center
            .main-cover_title.col-lg-6.offset-xl-1.offset-lg-0.col-md-10.col-11.align-self-center
                h1.h1-title Opportunity, met.
                p.title-info.
                    Inflection points are the moments that matter. When they happen, those wise enough to push themselves will go faster and further.

                a(href='./methodology.html').btn_yellow
                    span How we think
            .col-lg-5.col-md-12.col-12
                .main-cover_img
                    img(src='images/main-cover.jpg' srcset='images/main-cover@2x.jpg 2x' alt='cover image')

