section.solutions#section-3
    .b-container
        .row.align-items-center
            .solution_items.justify-content-lg-start.justify-content-center
                .col-lg-4.col-md-10.col-11
                    .solution_item
                        .solution_icon
                            .c1.cc
                                svg.svg_item(fill='none',
                                xmlns='http://www.w3.org/2000/svg')
                                    g(stroke='#092290', stroke-width='2')
                                        path.pf-1(d='m18 59.5c0 4.6944-3.8056 8.5-8.5 8.5-4.69442 0-8.5-3.8056-8.5-8' +
                                        '.5s3.80558-8.5 8.5-8.5c4.6944 0 8.5 3.8056 8.5 8.5z')
                        a(href='#').solution_info
                            h4.solution_title
                                | A Fresh Start:
                                br
                                |  Introducing Yourself.
                            p.solution_text.
                                Starting up. Taking off. Going to market. A new CEO with a new direction. Unveiling a new vision to the world demands alignment and conviction.
                            p
                                b Make the right move the first time.

                .col-lg-4.col-md-10.col-11
                    .solution_item
                        .solution_icon
                            .c2.cc
                                svg.svg_item(fill='none', xmlns='http://www.w3.org/2000/svg')
                                    g(stroke='#092290', stroke-width='2')
                                        path.pf-1(d='m18 59.5c0 4.6944-3.8056 8.5-8.5 8.5-4.69442 0-8.5-3.8056-8.5-8' +
                                        '.5s3.80558-8.5 8.5-8.5c4.6944 0 8.5 3.8056 8.5 8.5z', fill='#092290')
                                        path.pf-2(d='m68 9.5c0 4.6944-3.8056 8.5-8.5 8.5s-8.5-3.8056-8.5-8.5c0-4' +
                                        '.69442 3.8056-8.5 8.5-8.5s8.5 3.80558 8.5 8.5z', fill='#092290')

                        a(href='#').solution_info
                            h4.solution_title
                                | The Next Chapter:
                                br
                                |  Securing Yourself.
                            p.solution_text.
                                Expanding into new markets. Going public. Doubling down. Scaling up. Inspiring audiences while growing quickly requires clarity and focus.
                            p
                                b Smarter is faster and better

                .col-lg-4.col-md-10.col-11
                    .solution_item
                        .solution_icon
                            .c3.cc
                                svg.svg_item(fill='none', xmlns='http://www.w3.org/2000/svg')
                                    g(stroke='#092290', stroke-width='2')
                                        path.pf-1(d='m18 59.5c0 4.6944-3.8056 8.5-8.5 8.5-4.69442 0-8.5-3.8056-8.5-8' +
                                        '.5s3.80558-8.5 8.5-8.5c4.6944 0 8.5 3.8056 8.5 8.5z', fill='#092290')
                                        path.pf-2(d='m68 9.5c0 4.6944-3.8056 8.5-8.5 8.5s-8.5-3.8056-8.5-8.5c0-4' +
                                        '.69442 3.8056-8.5 8.5-8.5s8.5 3.80558 8.5 8.5z', fill='#092290')
                                        path.pf-3(d='m118 59.5c0 4.6944-3.806 8.5-8.5 8.5s-8.5-3.8056-8.5-8.5 3.806-8' +
                                        '.5 8.5-8.5 8.5 3.8056 8.5 8.5z')
                                //span.fade-up
                                //span.fade-up
                                //span.fade-up
                        a(href='#').solution_info
                            h4.solution_title
                                | The New Direction:
                                br
                                |  Reinventing Yourself.
                            p.solution_text.
                                Adapt to a new era. Stand up to new competition. Reinvigorate your team. Lead your industry into the future by reconnecting with who you are and what you want.
                            p
                                b Rally toward a new purpose.

