section.trust#section-6
    .container
        .row.justify-content-center.align-items-center
            .col-xl-8.col-10
                h2.h-title.fade-up Trust someone who&#8217;s been there:
                p.sub-title.fade-up 99% of our clients find us through referrals
