footer.footer
    .b-container
        .row.justify-content-center
            .col-xl-6.col-md-6.col-11.order-sm-1.order-2
                p.copyright-text ©2019 Pramana Collective
            .col-xl-6.col-md-6.col-11.order-sm-2.order-1
                .footer_links.d-md-flex.justify-content-around.d-block
                    .f-link
                        a(href='#') Join the collective
                    .f-link
                        a(href='#') Twitter
                    .f-link
                        a(href='#') Medium
