block menuLinks

header.main-header.c-height
    .b-container-fluid
        .main-row.row.align-items-center.justify-content-between
            .col-xl-3.offset-xl-1.col-3
                .main-header_logo
                    a(href='#')
                        img(src='images/logo.svg' alt='logo')
            .col-xl-8.col-9
                .main-header_menu
                    a(href='#' class= menu1) How We Think
                    a(href='#' class= menu2) What we do
                    a(href='#' class= menu3) Our Team
                    a(href='#' class= menu4) Work Together

                .main-header_d-menu
                    .hamburger
                        span
                        span
                        span

    .mob-menu
        .mob-menu_bg
        ul
            li
                a(href='#' class= menu1) How We Think
            li
                a(href='#' class= menu2) What we do
            li
                a(href='#' class= menu3) Our Team
            li
                a(href='#' class= menu4) Work Together
